[user]
  name = Fedor Indutny
  email = fedor.indutny@gmail.com
[core]
  editor = vim
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[diff]
  # Github style word diffs
  wordRegex = [^[:space:]]
[alias]
  aa = add .
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --oneline --decorate
  lc = log -p -n1
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  ff = merge --ff-only
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[push]
  default = current
